# Nextflow
.nextflow
.nextflow.log*

# Work directory (intermediate files)
work/

# Results (generated data, not code)
results/

# Models (usually heavy files)
models/*
!models/README.md
data/raw/tools/pepnet/*/checkpoints/
data/raw/tools/pepnet/*/feature/

# Uniprot unreviewed sequences (large FASTA)
# Added .zip instead
data/raw/non_amps/uniprot_unreviewed.fasta

# Unused files
data/raw/tools/multiamp/structure/