docker.enabled = true

// Process-level settings
process {
    withLabel: 'gpu0' {
        containerOptions = '--gpus "device=0"'
    }
    withLabel: 'gpu1' {
        containerOptions = '--gpus "device=1"'
    }
}

// Pipeline parameters
params {
    eval_dir = 'data/processed/evaluation_dataset'
    tools_dir = 'data/raw/tools'
}

// Output settings
outputDir            = 'results'
workflow.output.mode = 'copy'
