docker.enabled = true

// Process-level settings
process {
    withLabel: 'process_gpu' {
        containerOptions = '--gpus all'
    }
}

// Pipeline parameters
params {
    eval_dir = 'data/processed/evaluation_dataset'
    tools_dir = 'data/raw/tools'
}

// Output settings
outputDir            = 'results'
workflow.output.mode = 'copy'
